<footer class="page-footer orange darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">SMARTY</h5>
                <p class="grey-text text-lighten-4">A basic web app to help you with your employees.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-youtube"></i> Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright orange darken-2">
        <div class="container">
            © 2021 Jose Machado CE
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>