.brand-logo {
    margin-left: 5%;
}

.sidenav li a {
    color: #fff;
    text-transform: uppercase;
}

.logo-sidenav {
    color: #424242;
    letter-spacing: 2px;
}

.btn-signup-login {
    width: 20%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 20px;
    background-color: #f57c00;
}

.alert {
    background-color: darkcyan;
    height: auto;
}

.contact {
    display: block;
    min-height: 500px;
    width: 60%;
    margin-left: 20%;
    border: 12px solid #f57c00;
    border-radius: 5px;
    margin-bottom: 15%;
    margin-top: 5%;
    padding: 10px;
    color: #f57c00;
}

.danger {
    background-color: red;
}

.logout-flash {
    background-color: rgb(233, 206, 156);
}

.italic-reg-sign {
    text-decoration: underline;
    color: #f57c00;
}

.border-form {
    border:solid 2px orange;
    padding: 4px;
    margin-bottom: 10%;
}

.documents-title {
    margin-bottom: 5%;
}

.button-form {
    margin-top: 20%;
    
}

.tilte-employee {
    margin-left: 15px;
}

.employee-main-title {
    border: 10px solid #f57c00;
}

#employee-title {
    text-transform: uppercase;
}


