.brand-logo {
    margin-left: 5%;
}

.sidenav li a {
    color: #fff;
    text-transform: uppercase;
}

#jobs-text {
    font-weight: 800;
}

.logo-sidenav {
    letter-spacing: 2px;
}

#bg-home {
    width: 100%;
}


.aboutsmarty {
    text-transform: uppercase;
}

.btn-signup-login {
    width: 20%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 20px;
    background-color: #f57c00;
}


.contact {
    display: block;
    min-height: 500px;
    width: 60%;
    margin-left: 20%;
    border: 12px solid #f57c00;
    border-radius: 5px;
    margin-bottom: 15%;
    margin-top: 5%;
    padding: 10px;
    color: #f57c00;
}

.buttons-search {
    margin-left: 10px;
}

.danger {
    background-color: red;
}

.logout-flash {
    background-color: rgb(233, 206, 156);
}

.italic-reg-sign {
    text-decoration: underline;
    color: #f57c00;
}

.border-form {
    border: solid 2px orange;
    padding: 4px;
    margin-bottom: 10%;
}

.documents-title {
    margin-bottom: 5%;
}

.button-form {
    margin-top: 20%;

}

.tilte-employee {
    margin-left: 15px;
}

.employee-main-title {
    border: 10px solid #f57c00;
}

#employee-title {
    text-transform: uppercase;
}

.add_department {
    margin-top: 20px;
}

.card .card-image img {
    width: 25%;
}

.card .card-title {
    margin-top: 20px;
}

.profile-info {
    margin-top: 8px;
}

.profile-info-text-area {
    margin-top: 8px;

}

.right-align {
    display: flex;
    justify-content: flex-end;
    letter-spacing: 10px;
}

ul .right-align li {
    margin-bottom: 30px;
}

.panel-footer {
    align-items: center;


}

.parallax {
    background-image: url('/static/images/dollar.jpeg');
    background-repeat: no-repeat;   
    background-size: cover;
    margin-bottom: 20px;
}

.text-uppercase {
    text-transform: uppercase;
}


.box {
    width: 450px;
    background: rgb(245, 245, 245);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: #000;
    font-family:'sans-serif';
}

.text-profile {
    overflow-wrap: break-word;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h2 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

#text-description-job {
    text-overflow: initial;
}

.box h5 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

#text-description-job {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 0;
}

.text-uppercase {
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 0;
}

.box p {
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    text-decoration: none;
    font-size: 60px;
}

.box li a i {
    color: orange;
}

footer{
    margin-top: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .contact {
        width: 100%;
        margin-left: 0;
    }

    #employee-title {
        font-size: 5vh;
    }

    .aboutsmarty {
        font-size: 5vh;
    }

    #text-description-job {
        font-size: 12px;
        margin-bottom: 3px;
        margin-top: 0;
    }

    .text-uppercase {
        font-size: 25px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .box {
        width: 100%;
    }

    .row .col.s6 {
        width: 100%;
    }
    
}