{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="">
        <img src="/static/images/500error.gif" alt="500 Error Gif" class="image-404"> 
    </div>
    <h1 class="white-text title-main hide-on-small-only">Server Error !!</h1>
    <a type="submit" href="{{ url_for('home') }}" class="col s12 btn-large orange darken-2 text-shadow">
        Get Back Home
    </a>
</div>
{% endblock %}

{% block alert %}
<script>
    swal("Server Error !!");
  </script>
{% endblock %}
