{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row card-panel grey lighten-4">
        <div class="col s8">
            <ul class="tabs orange darken-2">
                <li class="tab col s3"><a class="active white-text" href="#personal">Personal</a></li>
                <li class="tab col s3"><a class="white-text" href="#documents">Documents</a></li>
            </ul>
        </div>
        <div id="personal" class="col s12">
            <h3 class="orange-text text-darken-2 documents-title"><span><i class="fas fa-user-lock orange-text text-darken-2"></i> Personal</span></h3>
            <div class="row">
                <form class="col s12" method="POST" action="">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-circle prefix orange-text text-darken-2"></i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Employee Name</label>
                        </div>

                        <div class="input-field col s12">
                            <i class="fas fa-phone-volume prefix orange-text text-darken-2"></i>
                            <input id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">Telephone</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="fas fa-building prefix orange-text text-darken-2"></i>
                            <input id="icon_department" type="tel" class="validate">
                            <label for="icon_department">Department</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="fas fa-table prefix orange-text text-darken-2"></i>
                            <input id="icon_start" type="tel" class="validate">
                            <label for="icon_start">Start Date</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="fas fa-envelope-square prefix orange-text text-darken-2"></i>
                            <input id="icon_email" type="tel" class="validate">
                            <label for="icon_email">Start Date</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="fas fa-info prefix orange-text text-darken-2"></i>
                            <input id="icon_status" type="tel" class="validate">
                            <label for="icon_status">Status</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="documents" class="col s12">
            <h3 class="orange-text text-darken-2 documents-title"><span><i class="fas fa-file orange-text text-darken-2"></i> Documents</span></h3>
            <form action="#">
                <div class="file-field input-field">
                    <div class="btn orange darken-2">
                        <span><i class="fas fa-file-upload"></i> Upload</span>
                        <input type="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>
                </div>
            </form>
            <form action="#">
                <div class="file-field input-field">
                    <div class="btn orange darken-2">
                        <span><i class="fas fa-file-upload"></i> Upload</span>
                        <input type="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>
                </div>
            </form>
            <form action="#">
                <div class="file-field input-field">
                    <div class="btn orange darken-2">
                        <span><i class="fas fa-file-upload"></i> Upload</span>
                        <input type="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}