{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row card-panel grey lighten-4">
        <div class="col s12">
            <ul class="tabs orange darken-2">
                <li class="tab col s6"><a class="active white-text" href="#personal">Personal</a></li>
                <li class="tab col s6"><a class="white-text" href="#documents">Documents</a></li>
            </ul>
        </div>
        <div id="personal" class="col s12">
            <h3 class="orange-text text-darken-2 documents-title"><span><i
                        class="fas fa-user-lock orange-text text-darken-2"></i> Personal</span></h3>
            <div class="row">
                <form class="col s12" method="POST" action="{{ url_for('add_employee') }}">
                    <!-- category selection -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-circle prefix orange-text text-darken-2"></i>
                            <input id="management_employee" name="management_employee" type="text" class="validate"
                                required>
                            <label for="management_employee"></label>
                            <span class="helper-text">Employee Name</span>
                        </div>
                    </div>
                    <!-- task name -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-mobile prefix orange-text text-darken-2"></i>
                            <input name="management_phone" id="management_phone" class="validate" type="number"
                                required>
                            <label for="management_phone"></label>
                            <span class="helper-text">Phone</span>
                        </div>
                    </div>
                    <!-- task description -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="far fa-building prefix orange-text text-darken-2"></i>
                            <select id="management_department" name="management_department" class="validate" required>
                                {% for department in management %}
                                <option value="{{ department.management_department }}">
                                    {{- department.management_department -}}</option>
                                {% endfor %}
                            </select>
                            <label for="management_department"></label>
                            <span class="helper-text">Department</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-table prefix orange-text text-darken-2"></i>
                            <input id="management_start_day" name="management_start_day" class="datepicker validate"
                                type="text" required>
                            <label for="management_start_day"></label>
                            <span class="helper-text">Start Date</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-envelope-square prefix orange-text text-darken-2"></i>
                            <input id="management_email" name="management_email" class="validate" type="email" required>
                            <label for="management_email"></label>
                            <span class="helper-text">Email</span>
                        </div>
                    </div>

                    <!-- is urgent toggle -->
                    <div class="row">
                        <div class="input-field col s12">
                            <div class="switch">
                                <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                                <label for="is_urgent">
                                    <input type="checkbox" id="is_urgent" name="is_urgent">
                                    <span class="lever"></span>
                                    Is Urgent
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- submit button -->
                    <div class="row">
                        <div class="col s2 center-align">
                            <button class="btn btn-large orange darken-2 button-form" type="submit" name="action">Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="documents" class="col s12">
            <h3 class="orange-text text-darken-2 documents-title"><span><i
                        class="fas fa-file orange-text text-darken-2"></i> Documents</span></h3>
            <form action="" method="POST">
                <div class="file-field input-field">
                    <div class="btn orange darken-2">
                        <span><i class="fas fa-file-upload"></i> Upload</span>
                        <input type="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>
                </div>
            </form>
            <form action="" method="POST">
                <div class="file-field input-field">
                    <div class="btn orange darken-2">
                        <span><i class="fas fa-file-upload"></i> Upload</span>
                        <input type="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>
                </div>
            </form>
            <form action="" method="POST">
                <div class="file-field input-field">
                    <div class="btn orange darken-2">
                        <span><i class="fas fa-file-upload"></i> Upload</span>
                        <input type="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}