{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="employee-main-title">
            <h2 id="employee-title" class="center-align white-text">Departments</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 center-align add_department">
                <a href="{{ url_for('add_departments') }}" class="btn-large  grey lighten-5 orange-text">Add Department <i class="fas fa-folder-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for department in departments %}
                <div class="col s12 m6">
                    <div class="card orange accent-4">
                        <div class="card-content white-text">
                            <a href="#" class="card-title">{{ department.management_department }}</a>
                            <p>
                            </p>
                        </div>
                        <div class="card-action">
                            <a class="white-text button-dpt" href="#">Edit</a>
                            <a class="white-text button-dpt" href="#">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}