{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="employee-main-title">
            <h2 id="employee-title" class="center-align white-text">Departments</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 center-align add_department">
                <a href="{{ url_for('add_departments') }}" class="btn-large  grey lighten-5 orange-text">Add Department <i class="fas fa-folder-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for department in departments %}
                <div class="col s12 m6">
                    <div class="card white box-departments">
                        <div class="card-content">
                            <div class="card-title orange-text">{{ department.management_department }}
                            </div>
                            
                        </div>
                        <div class="card-action">
                            <a class="orange-text button-dpt" href="{{ url_for('edit_departments', department_id=department._id) }}">Edit</a>
                            <a class="orange-text button-dpt" href="{{ url_for('delete_department', department_id=department._id) }}">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}