{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>bitch</h2>
    <!--{% for employee in employees %}
    {{ employee.management_department }}<br>
    {{ employee.management_employee }}<br>
    {{ employee.management_phone }}<br>
    {% endfor %}-->

    <ul class="collapsible">
        {% for employee in employees %}
        <li>
            <div class="collapsible-header orange darken-2"><i
                    class="fas fa-address-card white-text"></i>{{ employee.management_employee }}
            </div>
            <div class="collapsible-body">
                <ul><strong class="grey lighten-2">Phone Number</strong>
                    <li class="white-text">{{ employee.management_phone }}</li>
                </ul>
                <ul><strong class="grey lighten-2">Start Date</strong>
                    <li class="white-text">{{ employee.management_start_day }}</li>
                </ul>
                <ul><strong class="lighten-2">Department</strong>
                    <li class="white-text">{{ employee.management_department }}</li>
                </ul>

            </div>
        </li>
        {% endfor %}
    </ul>

    {% endblock %}
</div>