{% extends 'base.html' %}
{% block content %}

<div class="callout">
    <div class="row center-align" id="row-home">
        <div class="title-box" id="col-home">
            <hr class="solid hide-on-small-only">
            <h1 class="white-text title-main hide-on-small-only">Get to know your employees</h1>
            <hr class="solid hide-on-small-only">
        </div>
        <img id="bg-home" src="/static/images/image.png" class="img-fluid mx-auto" alt="Kitesurfing in Fuerteventura">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h2 class="aboutsmarty white-text">About</h2>
            <p class="white-text hide-on-small-only">Smarty is a project that was developed for managing people. This project was brought to life in July of 2021 and the main focus is to show proper skills to use the backend to link up with the front-end. The main and only developer is Jose Machado.</p>
        </div>
    </div>
</div>
<hr class="solid container">
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h2 class="aboutsmarty white-text">SMARTY</h2>
            <p class="white-text">Be smart using smarty. Add people to your account in our app and get to organize the people that you are in contact with.</p>
        </div>
    </div>
</div>




{% endblock %}
