{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="parallax-container valign-wrapper section scrollspy" id="aboutus">
        <div class="section">
            <div class="container">
                <div class="center row col s3">

                    <h3 class="white-text text-uppercase">{{ job.job_name }}</h3>
                </div>
                <div class="center row col s3">

                    <h3 class="white-text text-uppercase">Salary Base: {{ job.job_salary }} €</h3>
                </div>
                <div class="center row col s12">
                    <p id="text-description-job" class="white-text text-uppercase">{{ job.job_description }} </p>
                    <a href="{{ url_for('jobs') }}" class="btn-large job-back grey lighten-5 orange-text">Back to Job Markets</a>
                </div>

            </div>
        </div>
        <div class="parallax mx-auto"></div>
    </div>
</div>

{% endblock %}