{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="employee-main-title">
            <h2 id="employee-title" class="center-align white-text">Job Market</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for job in jobs %}
                <div id="boxes-jobs" class="col s6 l6">
                    <div id="card0" class="card white darken-2">
                        <div class="card-content">
                            
                            <a href="{{ url_for('job', job_id=job._id) }}"  class="card-title text-uppercase orange-text center-align jobs-text">
                                <img src="{{ job.job_image }}" class="card-images" alt="Market job images">
                            </a>
                            <a href="{{ url_for('job', job_id=job._id) }}"  class="card-title text-uppercase orange-text center-align jobs-text">
                                {{ job.job_name }}
                            </a>
                        </div>
                        
                    </div>
                    
                </div>
            {% endfor %}
            
        </div>
        <div class="row hide-on-med-and-up">
            <div class="container">
                <a href="{{ url_for('home') }}" class="btn-large  orange darken-2 white-text button-job-mobile">Back Home</a>
            </div>
        </div>
    </div>
    
{% endblock %}
