{% extends 'base.html' %}
{% block content %}
<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <span class="black-text">
            This is a square image. Add the "circle" class to it to make it appear circular.
          </span>
        </div>
      </div>
    </div>
  </div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="fa fa-network-wired"></i></h2>
                    <h5 class="center white-text">Improve Workforce Management Efficiencies</h5>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="fa fa-user-plus"></i></h2>
                    <h5 class="center white-text">Securing Employee Information</h5>
                </div>
            </div>
        </div>

    </div>
    <br<br>



        {% endblock %}

        {% block login %}
        <script>
            swal("Welcome {{ username }}", "Start managing your employees now", "success");
        </script>
        {% endblock %}