{% extends 'base.html' %}
{% block content %}
    <div class="container contact">
        <div class="row">
            <div class="col">
                <h1 class="contact-title">Register</h1>
                <p class="lead">Don't wast no time. Get in touch with us to know what is the new release.
                </p>
            </div>
        </div>
        <form id='form' method="POST" action="{{ url_for('register') }}">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" required>
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" class="validate" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="text" name="email" class="form-control" id="email" required>
                
            </div>
        </form>
        <div>
            <button id="newsletterform" onclick="sendMail()" type="submit" class="btn btn-contact">Submit</button>
        </div>
        <div class="text-response"></div>
    </div>



{% endblock %}